<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\github\Virtual-World-Systems\Development\Collaborator\OwlEyes\Solution(s)\WWW\WWW\App_Data\Database.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.31.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=8.0.31.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.ashx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>